# If no configuration is set, a default one is generated
squid:
  http_port:
     - 3128
     - 127.0.0.1:8080

  https_port:
     - 443
     - 127.0.0.1:443

  cache_mgr_user: username
  cache_mgr_password: password

  # define ACLs here
  acl:
    localnet:
      # optional comment
      comment: 'authorized clients from localnet'
      # types are: src, dst, myip, arp... see squid doc for all
      type: 'src'
      targets:
        - 192.168.0.1/32
        - 172.24.5.0/24

    restricted_net:
      type: 'src'
      targets:
        - 192.168.100.0/24

    SSL_ports:
      type: 'port'
      targets:
        - 443

    safe_ports:
      type: 'port'
      targets:
        - 80
        - 21
        - 3128

    restricted_domains:
      type: 'dstdomain'
      targets:
        - 'mydomain.tld'

    forbidden_domains:
      type: 'dstdomain'
      targets:
        - 'example1.tld'
        - 'example2.tld'

  http_access:
    - allow localnet
    - deny forbidden_domains
    - deny restricted_net restricted_domains
    - allow all

#  cache_dir: cache_dir ufs /home/squid/cache 1000 16 256

  visible_hostname: some.name

  extra_configuration: |
    refresh_pattern bla       0   20% 4320
    refresh_pattern foo       0   20% 4320
