{% import_yaml "squid/defaults.yaml" as defaults %}
{% import_yaml "squid/osmap.yaml" as osmap %}
{% import_yaml "squid/codenamemap.yaml" as codemap %}

{# get the settings for the os_family grain #}
{% set osfam = salt['grains.filter_by'](osmap, grain='os_family') or {} %}
{# get the settings for the oscodename grain, os_family data will override
    oscodename data #}
{% set oscode = salt['grains.filter_by'](codemap,
                                         grain='oscodename',
                                         merge=osfam) or {} %}

{# merge the os family/codename specific data over the defaults #}
{% do defaults.squid.update(oscode) %}

{# merge the pillar:lookup dict into the defaults/os specific dict #}
{% set lookup = salt['pillar.get']('squid:lookup',
                                   default=defaults.squid,
                                   merge=True) %}

{# merge the actual squid pillar into the above combined dict #}
{% set map = salt['pillar.get']('squid', default=lookup, merge=True) %}
